.card {
    background-color: white;
    max-width: 400px;
    padding: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-left: 24px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.02),
      0px 4px 6px 1px rgba(0, 0, 0, 0.06);
  }
  
  .card-container {
    display: flex;
    overflow-x: auto;
    padding: 16px 0;
  }
  
  .card:hover {
    background-color: rgb(224, 221, 221);
  }
  