.exercise-form-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-bottom: 16px;
  padding: 12px 0;
}

.exercise-form-item-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}